<div>
  <style type="text/css">
    #loading {
      display: none;
      position: fixed;
      top: 0%;
      left: 0%;
      width: 100%;
      height: 100%;
      background-color: rgba(0,0,0,.5);
      z-index: 1001;
    }
  </style>
  <div class="page-content flex-center">
    <div style="width:100%; text-align: center">
      <div style="margin-top: 300px;">
        <!--<span class="path1"></span>-->
        <!--<span class="path2"></span>-->
        <!--<span class="path3"></span>-->
        <!--<span class="path4"></span>-->
        <!--<span class="path5"></span>-->
        <!--<span class="path6"></span>-->
        <!--<span class="path7"></span>-->
        <!--<span class="path8"></span>-->
        <img src="assets/images/loading.gif" />
      </div>
    </div>
  </div>
</div>
