---
name: ver_reject
url: /ver_reject
controller: verRejectController
dependencies: controllers/verRejectController,services/verRejectService,services/userService,services/commonService
---
<section  id="VerificationReject" ng-show="isShow">

  <div class="page-content flex-center">
    <div>
    <div ng-if="(counter<0)==0"><p>距离下次贷款还有{{counter}}天</p></div>
    <img src="assets/images/liren-img/err_02.png" class="mb40">
    <p>很抱歉根据您填写的个人信息，无法为您提供借款服务，感谢您的关注。</p>
    </div>
  </div>
</section>




