---
name: zjs
url: /zjs/:openId
controller: zjsController
dependencies: controllers/zjsController,services/zjsService,services/userService,services/commonService
---

<section id="NoService">
  <div class="page-content flex-center">
    <div class="flex">
      <div>
        <img src="assets/images/liren-img/guide_lady.png">
      </div>
      <div span class="guide-arrow">
        <div>
          <p>如果您是我们的贷款顾问</p>
          <p class="guide-text">
            点我<a ng-click="click()">登录</a>哦
          </p>
        </div>
      </div>
    </div>

  </div>

</section>

