---
name: crdIndex
url: /crd
controller: crdController
dependencies: controllers/crdIndexController,services/crdService,services/userService,services/commonService
---

<section id="CreditActive" ng-init="init()">
  <form name="creditForm">
    <div class="ui-header">
      <div>请填写人行短信中的激活码</div>
      <div class=" mt40 flex store-s">
        <div class="icon-tel-male">
          <div>
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
            class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
            class="path8"></span><span class="path9"></span><span class="path10"></span><span
            class="path11"></span><span
            class="path12"></span><span class="path13"></span><span class="path14"></span><span
            class="path15"></span><span class="path16"></span>
          </div>
        </div>
        <div class="Triangle-all flex">
          <span class="Triangle circle"></span>
          <span class="Triangle circle"></span>
          <span class="Triangle circle"></span>
        </div>
        <div class="icon-email">
          <div>
            <span class="path1"></span><span class="path2"></span><span class="path3"></span><span
            class="path4"></span><span class="path5"></span><span class="path6"></span><span class="path7"></span><span
            class="path8"></span><span class="path9"></span><span class="path10"></span><span
            class="path11"></span><span
            class="path12"></span><span class="path13"></span><span class="path14"></span><span
            class="path15"></span><span class="path16"></span><span class="path17"></span><span class="path18"></span>
          </div>
        </div>

      </div>
    </div>
    <div class="page-content">
      <p>&nbsp;</p>

      <div class="list-block">

        <ul>
          <li>
            <div class="item-inner">
              <div class="item-title label">征信激活码：</div>
              <div class="item-input">
                <input type="text" name="username" ng-model="form.querycode">
              </div>
            </div>

          </li>
          <li>
            <div ng-if="!token">
              <div class="item-inner">
                <div class="item-title label">验证码：</div>
                <div class="item-input">
                  <div class="item-input-inner">
                    <input type="text" name="text" ng-model="form.vercode">

                    <div class="btn-verify">
                      <img ng-src="{{form.url}}" ng-click="init()" ng-if="form.url"/>
                      <img src="assets/images/loading.gif" style="width:32px;height:32px;" ng-if="!form.url"/>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </li>
          <li>
            <div class="item-inner noborder">
              <div>
                <span ng-click="relogin()">我没有激活码</span>
              </div>
            </div>
          </li>
        </ul>
      </div>
      <div class="btn-Oval btn-Oval-big btn-Oval-big-m " ng-click="submitForm($event)"
           ng-class="{'btn-Oval-disabled':!form.querycode||(!token&&!form.vercode)}">
        立即激活
      </div>

    </div>
  </form>
</section>
