*{ margin:0; padding:0;}

html,body,section{
    font-family: "Microsoft YaHei";
    overflow:hidden;
    width:100%;
    height:100%;
}
.container{
    padding: 0;
    margin: 0;
}
#welcome-text{
    text-align: center;
    margin-top: 8%;
    /*border: 1px solid black;
    height: 30vh;*/
}
.div-float{
    /*-webkit-animation: text-float 8s infinite linear;
    -o-animation: text-float 8s infinite linear;
    animation: text-float 8s infinite linear;*/
    height: 30vh;
    /*border: 1px solid black;*/
}
.div-float .div-float-right{
    height: 7.5vh;
}
#btn-circle{
    height: 60px;
    width: 60px;
    border: 1px solid black;
    border-radius: 50%;
    background-color: #c3475d;
}
.pages-container{
    /*height: 100%;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    overflow: hidden;*/
    overflow:hidden;
    position:absolute; 
    left:0; 
    top:0; 
    width:100%; 
    height:400%;
    -webkit-transition:top .3s;
    transition:top .3s;
}
.page{
    background: -webkit-linear-gradient( top, #EBBAF7, #fff);
    background: -o-linear-gradient( top, #EBBAF7, #fff);
    background: -ms-linear-gradient( top, #EBBAF7, #fff);
    background: linear-gradient( top, #EBBAF7, #fff);
    /*height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;*/
    height:25%;
}
.page-ma{
    background: -webkit-linear-gradient( top, #EBBAF7, #fff);
}

#img-1{
    position: absolute;
    top: -3vh;
    /*left: -1vw;
    transform: scale(0.85);*/
	width:85%;
	left:50%;
	margin-left:-42.5%;
}
.line-1{
    color: #8F0882;
    /*font-size: 9vw;*/
    font-size: 22pt;
    font-weight: bold;
    margin-bottom: 3vh;
}
.line-1 label{
    color: #E3007F;
}
.line-subtitle{
    color: #E3007F;
    font-size: 4.5vw;
    text-align: left;
    padding-left:0;
}
.line-purple{
    color: #884798;
    font-size: 4.5vw;
    line-height: 7vh;
    margin-top: 2vh;
    margin-left: 10vw;
    margin-right: 10vw;
    border-bottom: 1px solid #884798;
}
.line-purple col-xs-2{
    padding: 0;
    margin: 0;
}
.line-purple hr{
    border-color: #E3007F;
    width: 20vw;
    display: inline-block;
    margin-bottom: 1vh;
}
.line-purple .col-xs-10{
    margin: 0;
    padding: 0;
}
.line-purple .col-xs-10 label{
    color:#E3007F;
    font-size: 16pt;
    font-weight: bold;
    margin-left: 1vw;
}
.line-purple img{
    margin-left: -2vw;
    transform: scale(2);
    margin-top: 3vh;
}
.line-subtitle-row{
    padding-left: 12vw;
    margin-top: -4vh;
    margin-bottom: 3vh;
}
.line-2{
    color: #910782;
    display: none;
    /*visibility: hidden;*/
    /*font-size: 5.5vw;*/
    font-size: 14pt;
    line-height: 3vh;
    -webkit-animation: floatToLeft 1s 1 linear;
    -o-animation: floatToLeft 1s 1 linear;
    animation: floatToLeft 1s 1 linear;
}
.line-4{
    color: #E3007F;
    display: none;
    /*left: -100%;*/
    /*visibility: hidden;*/
    /*font-size: 5vw;*/
    font-size: 19pt;
    font-weight: bold;
    -webkit-animation: floatToRight 1s 1 linear;
    -o-animation: floatToRight 1s 1 linear;
    animation: floatToRight 1s 1 linear;
}
.stars{
    position: relative;
    width: 100%;
    margin-top: 4vh;
}
@keyframes star1-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-webkit-keyframes star1-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-o-keyframes star1-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-ms-keyframes star1-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
.star1{
    position: absolute;
    top: 0%;
    left: 21.4%;
    animation: star1-blink 8s infinite linear;
    -webkit-animation: star1-blink 1s infinite linear;
    -o-animation: star1-blink 1s infinite linear;
    -ms-animation: star1-blink 1s infinite linear;
}
@keyframes star2-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-webkit-keyframes star2-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-o-keyframes star2-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-ms-keyframes star2-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
.star2{
    position: absolute;
    top: 20px;
    left: 24.7%;
    animation: star2-blink 1s infinite linear;
    -webkit-animation: star2-blink 1s infinite linear;
    -o-animation: star2-blink 1s infinite linear;
    -ms-animation: star2-blink 1s infinite linear;
}
@keyframes star3-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-webkit-keyframes star3-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-o-keyframes star3-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
@-ms-keyframes star3-blink{
    from{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
    50%{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    to{
        -webkit-transform: scale(0.1);
        -ms-transform: scale(0.1);
        -o-transform: scale(0.1);
        transform: scale(0.1);
    }
}
.star3{
    position: absolute;
    top: 1vh;
    left: 70%;
    animation: star3-blink 1s infinite linear;
    -webkit-animation: star3-blink 1s infinite linear;
    -ms-animation: star3-blink 1s infinite linear;
    -o-animation: star3-blink 1s infinite linear;
}

.heart-beat{
    position: relative;
    width: 100%;
    /*top: 50vh;*/
}

@keyframes heart1-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-webkit-keyframes heart1-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-o-keyframes heart1-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-ms-keyframes heart1-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
.heart1{
    position:absolute;
    top: 3vh;
    /*left: 12vw;*/
	left:19%;
    -webkit-transform: rotate(-30deg);
    -ms-transform: rotate(-30deg);
    -o-transform: rotate(-30deg);
    transform: rotate(-30deg);
    animation: heart1-beat 1s infinite linear;
    -webkit-animation: heart1-beat 1s infinite linear;
    -o-animation: heart1-beat 1s infinite linear;
    -ms-animation: heart1-beat 1s infinite linear;
}
@keyframes heart2-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.28);
        -ms-transform: scale(0.28);
        -o-transform: scale(0.28);
        transform: scale(0.28);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-webkit-keyframes heart2-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.28);
        -ms-transform: scale(0.28);
        -o-transform: scale(0.28);
        transform: scale(0.28);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-o-keyframes heart2-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.28);
        -ms-transform: scale(0.28);
        -o-transform: scale(0.28);
        transform: scale(0.28);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-ms-keyframes heart2-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.28);
        -ms-transform: scale(0.28);
        -o-transform: scale(0.28);
        transform: scale(0.28);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
.heart2{
    position: absolute;
    top: -1vh;
    /*left: 44vw;*/
	left:53%;
    -webkit-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    -o-transform:  rotate(-20deg);
    transform:  rotate(-20deg);
    animation: heart2-beat 1s infinite linear;
    -webkit-animation: heart2-beat 1s infinite linear;
    -o-animation: heart2-beat 1s infinite linear;
    -ms-animation: heart2-beat 1s infinite linear;
}
@keyframes heart3-beat{
    from{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-webkit-keyframes heart3-beat{
    from{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-ms-keyframes heart3-beat{
    from{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-o-keyframes heart3-beat{
    from{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
.heart3{
    position: absolute;
    top: 3vh;
    /*left: 58vw;*/
	left:67%;
    animation: heart3-beat 1s infinite linear;
    -webkit-animation: heart3-beat 1s infinite linear;
    -o-animation: heart3-beat 1s infinite linear;
    -ms-animation: heart3-beat 1s infinite linear;
}
@keyframes heart4-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-webkit-keyframes heart4-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-o-keyframes heart4-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-ms-keyframes heart4-beat{
    from{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
    50%{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
.heart4{
    position: absolute;
    top: 6vh;
    /*left: 48vw;*/
	left:57%;
    animation: heart4-beat 1s infinite linear;
    -webkit-animation: heart4-beat 1s infinite linear;
    -o-animation: heart4-beat 1s infinite linear;
    -ms-animation: heart4-beat 1s infinite linear;
}


@keyframes xuanzhuan {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes xuanzhuan {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-o-keyframes xuanzhuan {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-ms-keyframes xuanzhuan {
    from {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
#img-2{
    position: absolute;
    top: -1vh;
    /*left: -1vw;
    -webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);*/
	width:75%;
	left:50%;
	margin-left:-37.5%;
}
#diqiu-xuanzhuan{
    position: absolute;
    top: 28vh;
    left: -1px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
    animation: xuanzhuan 16s infinite linear;
    -webkit-animation:xuanzhuan 16s infinite linear;
    -o-animation:xuanzhuan 16s infinite linear;
    -ms-animation:xuanzhuan 16s infinite linear;
}
#img-3{
    position: absolute;
    top: 8vh;
    /*left: 28vw;
    width: 46vw;*/
	width:46%;
	left:50%;
	margin-left:-23%;
    /*-webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    -o-transform: scale(0.7);
    transform: scale(0.45);*/
}
.img-icon{
    position: absolute;
}

@keyframes icon1-blink{
    from{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
}
@-webkit-keyframes icon1-blink{
    from{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
}
@-o-keyframes icon1-blink{
    from{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
}
@-ms-keyframes icon1-blink{
    from{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.3);
        -ms-transform: scale(0.3);
        -o-transform: scale(0.3);
        transform: scale(0.3);
    }
}
#icon1{
    top: -23px;
    left: 30vw;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon1-blink 4s ease 1s infinite;
    -webkit-animation:icon1-blink 4s ease 1s infinite;
    -o-animation:icon1-blink 4s ease 1s infinite;
    -ms-animation:icon1-blink 4s ease 1s infinite;
}
@keyframes icon2-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-webkit-keyframes icon2-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-o-keyframes icon2-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-ms-keyframes icon2-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
#icon2{
    top:0px;
    left: 68px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon2-blink 4s ease 2s infinite;
    -webkit-animation:icon2-blink 4s ease 2s infinite;
    -o-animation:icon2-blink 4s ease 2s infinite;
    -ms-animation:icon2-blink 4s ease 2s infinite;
}
@keyframes icon3-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-webkit-keyframes icon3-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-o-keyframes icon3-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
@-ms-keyframes icon3-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.35);
        -ms-transform: scale(0.35);
        -o-transform: scale(0.35);
        transform: scale(0.35);
    }
    to{
        -webkit-transform: scale(0.2);
        -ms-transform: scale(0.2);
        -o-transform: scale(0.2);
        transform: scale(0.2);
    }
}
#icon3{
    top: 0px;
    left: 50vw;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon3-blink 4s ease 1.5s infinite;
    -webkit-animation:icon3-blink 4s ease 1.5s infinite;
    -o-animation:icon3-blink 4s ease 1.5s infinite;
    -ms-animation:icon3-blink 4s ease 1.5s infinite;
}
@keyframes icon4-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-webkit-keyframes icon4-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-o-keyframes icon4-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-ms-keyframes icon4-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
#icon4{
    top: 5vh;
    left: 66vw;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon4-blink 5s ease 0.5s infinite;
    -webkit-animation:icon4-blink 5s ease 0.5s infinite;
    -o-animation:icon4-blink 5s ease 0.5s infinite;
    -ms-animation:icon4-blink 5s ease 0.5s infinite;
}
@keyframes icon5-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-webkit-keyframes icon5-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-o-keyframes icon5-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-ms-keyframes icon5-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
#icon5{
    top: 30px;
    left: 20px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon5-blink 4s ease 1s infinite;
    -webkit-animation:icon5-blink 4s ease 1s infinite;
    -o-animation:icon5-blink 4s ease 1s infinite;
    -ms-animation:icon5-blink 4s ease 1s infinite;
}
@keyframes icon6-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-webkit-keyframes icon6-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-o-keyframes icon6-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
@-ms-keyframes icon6-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
        -o-transform: scale(0.7);
        transform: scale(0.7);
    }
    to{
        -webkit-transform: scale(0.4);
        -ms-transform: scale(0.4);
        -o-transform: scale(0.4);
        transform: scale(0.4);
    }
}
#icon6{
    top: 77px;
    left: 70vw;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon6-blink 6s ease 2s infinite;
    -webkit-animation:icon6-blink 6s ease 2s infinite;
    -o-animation:icon6-blink 6s ease 2s infinite;
    -ms-animation:icon6-blink 6s ease 2s infinite;
}
@keyframes icon7-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-webkit-keyframes icon7-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-o-keyframes icon7-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-ms-keyframes icon7-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
#icon7{
    top:90px;
    left: 50px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon7-blink 5s ease 2.5s infinite;
    -webkit-animation:icon7-blink 5s ease 2.5s infinite;
    -o-animation:icon7-blink 5s ease 2.5s infinite;
    -ms-animation:icon7-blink 5s ease 2.5s infinite;
}
@keyframes icon8-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-webkit-keyframes icon8-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-o-keyframes icon8-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-ms-keyframes icon8-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
#icon8{
    top: 136px;
    left: 14px;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon8-blink 4s ease 1.5s infinite;
    -webkit-animation:icon8-blink 4s ease 1.5s infinite;
    -o-animation:icon8-blink 4s ease 1.5s infinite;
    -ms-animation:icon8-blink 4s ease 1.5s infinite;
}
@keyframes icon9-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-webkit-keyframes icon9-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-o-keyframes icon9-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
@-ms-keyframes icon9-blink{
    from{
        -webkit-transform: scale(0);
        -ms-transform: scale(0);
        -o-transform: scale(0);
        transform: scale(0);
    }
    50%{
        -webkit-transform: scale(0.6);
        -ms-transform: scale(0.6);
        -o-transform: scale(0.6);
        transform: scale(0.6);
    }
    to{
        -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
        -o-transform: scale(0.5);
        transform: scale(0.5);
    }
}
#icon9{
    top: 165px;
    left: 70vw;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    animation: icon9-blink 4s ease 1.5s infinite;
    -webkit-animation:icon9-blink 4s ease 1.5s infinite;
    -o-animation:icon9-blink 4s ease 1.5s infinite;
    -ms-animation:icon9-blink 4s ease 1.5s infinite;
}
#icon10{
    top: 155px;
    left: 100px;
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    -o-transform: scale(0.6);
    transform: scale(0.6);
}
#icon11{
    top: 136px;
    left: 66vw;
    -webkit-transform: scale(0.5);
    -ms-transform: scale(0.5);
    -o-transform: scale(0.5);
    transform: scale(0.5);
}
#img-ma{
    /*height: 27vw;*/
    width: 27%;
    margin-top: 4vh;
}
#img-ma-memo{
    color:#884798;
    font-size: 4.5vw;
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}
.apply-btn{
    background-color: #F84D79;
    width: 70vw;
    border: none;
    height: 7vh;
    font-size: 4.5vw;
    color: #fff;
    border-radius: 25px;
}
.city{
    margin-top: -1vh;
}
#img-haha{
    /*-webkit-transform: scale(0.75);
    -ms-transform: scale(0.75);
    -o-transform: scale(0.75);
    transform: scale(0.75);*/
    margin-top: 2.5vh;
}
#lirendai{
    font-weight: normal;
}
.prev{
    top:-100%;
}
.current{
    top: 0;
}
.current .line-2{
    display: block;
    /*visibility: visible;*/
}
.current .line-4{
    display: block;
    /*transform: translateX(-100%);*/
    /*visibility: visible;*/
}
.next{
    top: 100%;
}
@keyframes next-page-up{
    from{
        bottom: 0px;
        margin-bottom: 0px;
    }
    to{
        bottom: 10px;
        margin-bottom: 10px;
    }
}
@-webkit-keyframes next-page-up{
    from{
        bottom: 0px;
        margin-bottom: 0px;
    }
    to{
        bottom: 10px;
        margin-bottom: 10px;
    }
}
@-o-keyframes next-page-up{
    from{
        bottom: 0px;
        margin-bottom: 0px;
    }
    to{
        bottom: 10px;
        margin-bottom: 10px;
    }
}
@-ms-keyframes next-page-up{
    from{
        bottom: 0px;
        margin-bottom: 0px;
    }
    to{
        bottom: 10px;
        margin-bottom: 10px;
    }
}
.next-page-arrow{
    color: #837c7c;
    text-align: center;
    -webkit-animation: next-page-up 1.5s ease-in-out infinite;
    -o-animation: next-page-up 1.5s ease-in-out infinite;
    animation: next-page-up 1.5s ease-in-out infinite;
}
@keyframes text-float{
    from{
        -webkit-transform:translate(-20px,0) ;
        -ms-transform:translate(-20px,0) ;
        -o-transform:translate(-20px,0) ;
        transform:translate(-20px,0);
    }
    25%{
        -webkit-transform:translate(0,40px) ;
        -ms-transform:translate(0,40px) ;
        -o-transform:translate(0,40px) ;
        transform:translate(0,40px);
    }
    50%{
        -webkit-transform:translate(20px,0) ;
        -ms-transform:translate(20px,0) ;
        -o-transform:translate(20px,0) ;
        transform:translate(20px,0);
    }
    75%{
        -webkit-transform:translate(0,-40px) ;
        -ms-transform:translate(0,-40px) ;
        -o-transform:translate(0,-40px) ;
        transform:translate(0,-40px);
    }
    to{
        -webkit-transform:translate(-20px,0) ;
        -ms-transform:translate(-20px,0) ;
        -o-transform:translate(-20px,0) ;
        transform:translate(-20px,0);
    }
}
@-webkit-keyframes text-float{
    from{
        -webkit-transform:translate(-20px,0) ;
        -ms-transform:translate(-20px,0) ;
        -o-transform:translate(-20px,0) ;
        transform:translate(-20px,0);
    }
    25%{
        -webkit-transform:translate(0,40px) ;
        -ms-transform:translate(0,40px) ;
        -o-transform:translate(0,40px) ;
        transform:translate(0,40px);
    }
    50%{
        -webkit-transform:translate(20px,0) ;
        -ms-transform:translate(20px,0) ;
        -o-transform:translate(20px,0) ;
        transform:translate(20px,0);
    }
    75%{
        -webkit-transform:translate(0,-40px) ;
        -ms-transform:translate(0,-40px) ;
        -o-transform:translate(0,-40px) ;
        transform:translate(0,-40px);
    }
    to{
        -webkit-transform:translate(-20px,0) ;
        -ms-transform:translate(-20px,0) ;
        -o-transform:translate(-20px,0) ;
        transform:translate(-20px,0);
    }
}
@keyframes floatToLeft{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translate(0);
    }
}
@-webkit-keyframes floatToLeft{
    from{
        transform: translateX(100%);
    }
    to{
        transform: translate(0);
    }
}
@keyframes floatToRight{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
@-webkit-keyframes floatToRight{
    from{
        transform: translateX(-100%);
    }
    to{
        transform: translateX(0);
    }
}
.page4 .star1{
    margin-left: -10vw;
}
.page4 .star2{
    margin-left: -10vw;
}
.page4 .star3{
    margin-left: -8vw;
}
.page4 .line-1{
    margin-left: -19vw;
    font-size: 32pt;
}
.page4 .stars{
    margin-top: 0;
}