---
name: entering
url: /entering/:from/:typeId
controller: enteringController
dependencies: controllers/enteringController,services/commonService,services/userService,services/convenientService
---
<div class="ui-container">
  <div class="primary title-bar" style="height: 3rem">
    <div class="center title">{{title}}</div>
    <span class="left"><a style="display: block;" href="javascript:window.history.back()"><img zf-iconic="" icon="chevron" data-direction="left" size="small"></a></span>
  </div>

  <form style="margin: 1rem 1rem 0 1rem" id="enterForm" name="enterForm">

    <!--<label>-->
      <!--选择小区</label>-->
    <!--<select name="" id="" ng-model="enterInfo.village"  ng-options="x.areaName for x in villages">-->
    <!--</select>-->
    <!--<label>-->
      <!--楼栋-->
      <!--<input type="text" placeholder="请输入您的楼栋" ng-model="enterInfo.floor" required>-->
    <!--</label>-->
    <!--<label>-->
      <!--室号-->
      <!--<input type="text" placeholder="请输入您的室号" ng-model="enterInfo.house" required>-->
    <!--</label>-->
    <label>
      姓名
      <input type="text" placeholder="请输入您的姓名" ng-model="enterInfo.name" required>
    </label>
    <label>
      电话
      <input type="text" placeholder="请输入您的电话号码"  maxlength="11" ng-model="enterInfo.phone" required>
    </label>
    <label>
      备注
      <textarea placeholder="请输入您的要求" rows="5" ng-model="enterInfo.content"></textarea>
    </label>

    <label ng-show="from=='inFix'">
      最多上传三张图片</label>
    <div class="grid-block" ng-show="from=='inFix'">
      <input id="p1"  type="file" capture="camera" accept="image/*" style="display: none" input-on-change="uploadImg" required>
      <label for="p1" style="width: 4.4rem" ng-click="labelClick()">
        <div class="za_picture" >
          <i  class="zd_icon zd_iconfont">&nbsp;上传图片</i>
        </div>
      </label>

      <div class="grid-block align-right over-img">
        <div ng-show="imgSrc.i1!=''" >
          <img src="{{imgSrc.i1}}"  style="margin-left: 3.2rem;" ng-click="showMax(1)" >
          <img  src="assets/images/estate-img/cancel.png" ng-click="delImg(1)">
        </div>
        <div ng-show="imgSrc.i2!=''" >
          <img src="{{imgSrc.i2}}" ng-click="showMax(2)" >
          <img src="assets/images/estate-img/cancel.png" ng-click="delImg(2)">
        </div>
        <div ng-show="imgSrc.i3!=''" >
          <img src="{{imgSrc.i3}}"  ng-click="showMax(3)">
          <img  src="assets/images/estate-img/cancel.png" ng-click="delImg(3)">
        </div>
      </div>
    </div>
    <a class="expand button btn-bottom"  ng-click="enterSubmit()">提交</a>
    <!--<a class="expand button" ng-class="{true:'disabled',false:''}[enterForm.$invalid]" ng-click="enterSubmit()">提交</a>-->
  </form>
  <div class="showMax" ng-show="chooseImg!=null&&chooseImg!=''" ng-click="closeMax()">
    <span >
    <img style="width: 100%;" src="{{chooseImg}}">
      </span>
  </div>
</div>

<!--<canvas id="uploadImg" style="display: none" ></canvas>-->
