---
name: inFix
url: /inFix
controller: inFixController
dependencies: controllers/inFixController,services/commonService,services/commonService,services/convenientService
---
<div class="ui-container" ng-init="ifInit()">
  <div class="primary title-bar" style="height: 3rem">
    <div class="center title">室内报修</div>

  </div>
  <div class="grid-block vertical serviceImg">
    <div ng-repeat="s in serverList" style="border-bottom: 1px solid #ccc;padding: 1rem" ng-click="goEnter(s.id)">
      <img  src="{{s.imgUrl}}">
      <strong style="margin: auto 2rem">{{s.name}}</strong>
    </div>
  </div>

  <a class="float-circle-cash"   ng-click="openPmIf()"></a>
  <div zf-modal="" id="priceModalIf" class="dialog" >
    <table class="gridtable">
      <thead>
      <tr>
        <th>服务内容</th>
        <th>价格</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="item in priceInfo">
        <td>{{::item.name}}</td>
        <td>{{::item.price}}</td>
      </tr>
      </tbody>
    </table>
    <p class="alert-font" style="margin-top: 1rem">友情提醒：此价格针对普通家政服务，仅供参考。具体以实际情况为准。</p>
    <p class="alert-font" style="margin-top: -12px">咨询电话：<a href="tel:0512-52525258">0512-52525258</a></p>
  </div>

</div>
