---
name: outFixAdd
url: /outFixAdd
controller: outFixAddController
dependencies: controllers/outFixAddController,services/commonService,services/convenientService,services/userService
---
<div class="ui-container" ng-init="ofaInit()">
  <div class="primary title-bar" style="height: 3rem">
    <div class="center title">新增报修</div>
    <span class="left"><a style="display: block;" href="javascript:window.history.back()"><img zf-iconic="" icon="chevron" data-direction="left" size="small"></a></span>
  </div>

  <div class="grid-block align-center creditCard-div">
    <div class="grid-block small-2">
      <p>报修人</p>
    </div>
    <div class="grid-block small-10">
      <input type="text" required  ng-model="fixInfo.name" />
    </div>
  </div>

  <div class="grid-block align-center creditCard-div">
    <div class="grid-block small-2">
      <p>手机号</p>
    </div>
    <div class="grid-block small-10">
      <input type="text" maxlength="11" required  ng-model="fixInfo.phone" />
    </div>
  </div>

  <div class="grid-block align-center creditCard-div">
    <div class="grid-block small-2">
      <p>小区</p>
    </div>
    <div class="grid-block small-10">
      <select name="" id="" ng-model="fixInfo.areaId" class="selectBg">
        <option ng-repeat="v in villages" value="{{v.id}}">{{v.areaName}}</option>
      </select>
    </div>
  </div>

  <div class="grid-block align-center creditCard-div" style="height: 100px">
    <div class="grid-block small-2">
      <p style="padding-top: 4px;">备注</p>
    </div>
    <div class="grid-block small-10">
      <textarea style="border: none" rows="5"  ng-model="fixInfo.content" ></textarea>
    </div>
  </div>

  <div style="margin: 0 1rem">
  <label>
    最多上传三张图片</label>
  <div class="grid-block">
    <input id="p1"  type="file" capture="camera" accept="image/*" style="display: none" input-on-change="uploadImg" required>
    <label for="p1" style="width: 4.4rem" ng-click="labelClick()">
      <div class="za_picture" >
        <i  class="zd_icon zd_iconfont">&nbsp;上传图片</i>
      </div>
    </label>

    <div class="grid-block align-right overImg">
      <div ng-show="imgSrc.i1!=''" >
        <img src="{{imgSrc.i1}}"  style="margin-left: 3.2rem;" ng-click="showMax(1)" >
        <img  src="assets/images/estate-img/cancel.png" ng-click="delImg(1)">
      </div>
      <div ng-show="imgSrc.i2!=''" >
        <img src="{{imgSrc.i2}}" ng-click="showMax(2)" >
        <img src="assets/images/estate-img/cancel.png" ng-click="delImg(2)">
      </div>
      <div ng-show="imgSrc.i3!=''" >
        <img src="{{imgSrc.i3}}"  ng-click="showMax(3)">
        <img  src="assets/images/estate-img/cancel.png" ng-click="delImg(3)">
      </div>
    </div>
  </div>


  <a class="primary button expand"  ng-click="outFixSubmit()" style="margin-top: 1rem">提交</a>

    <div class="showMax" ng-show="chooseImg!=null&&chooseImg!=''" ng-click="closeMax()">
    <span >
    <img style="width: 100%;" src="{{chooseImg}}">
      </span>
    </div>

  </div>


</div>

<canvas id="uploadImg" style="display: none" ></canvas>
