---
name: outFix
url: /outFix
controller: outFixController
dependencies: controllers/outFixController,services/commonService,services/convenientService
---
<div class="ui-container" ng-init="outFixInit()">
  <div class="primary title-bar" style="height: 3rem">
    <div class="center title">公共报修</div>
    <span class="right"><a ui-sref="outFixAdd">新增报修</a></span>
  </div>

  <div class="grid-block" ng-repeat="t in fixList" style="border-bottom: 1px solid #ccc">
    <a ui-sref="outFixDetail({id:'{{t.id}}'})" style="width: 100%;padding: 12px;overflow-y: hidden">

      <div class="grid-block  vertical " style="margin: auto 0">
        <div class="grid-block" style="width: 100%;overflow-y: hidden">
          <strong >{{t.userName}}</strong>
          <div class="grid-block align-right" >
            <img ng-if="t.status==1" src="assets/images/estate-img/xinbaoxiu.png" width="50px">
            <img ng-if="t.status==2" src="assets/images/estate-img/yijiejue.png"  width="50px">
          </div>

        </div>
        <div class="grid-block" style="margin-top: 6px;overflow-y: hidden">
          <span>{{t.area}}</span>
          <span class="grid-block align-right" style="overflow-y: hidden">{{t.createDate}}</span>
        </div>
        <div class="grid-block" style="margin-top: 6px;overflow-y: hidden">
          <span>{{::t.content}}</span>
        </div>
      </div>
    </a>
  </div>

</div>


