---
name: gallery
url: /gallery/:urls
controller: galleryController
dependencies: controllers/galleryController,services/commonService,amazeui
---
<div class="ui-container" ng-init="gallaryInit()">
  <div class="primary title-bar">
    <div class="center title">图片</div>
    <span class="left"><a style="display: block;"  href="javascript:window.history.back()"><img zf-iconic="" icon="chevron" data-direction="left" size="small"></a></span>
    <span class="right"><a ui-sref="house" ><img zf-iconic="" icon="home" size="small"></a></span>
  </div>

  <ul data-am-widget="gallery" class="am-gallery am-avg-sm-2 am-avg-md-3 am-avg-lg-4 am-gallery-default " data-am-gallery="{ pureview: true }" >
    <li ng-repeat="u in imgUrls">
      <div class="am-gallery-item">
        <a href="{{u}}" class="">
          <img src="{{u}}"  alt=""/>
          <!--<h3 class="am-gallery-title">远方 有一个地方 那里种有我们的梦想</h3>-->
          <!--<div class="am-gallery-desc">2375-09-26</div>-->
        </a>
      </div>
    </li>
  </ul>

</div>
