---
name: house
url: /house
controller: houseController
dependencies: controllers/houseController,services/commonService,services/informationService,amazeui.swiper.min
---
<div class="ui-container" ng-init="houseInit()">
  <div class="primary title-bar">
    <div class="center title">房屋中介</div>
    <span class="right">
      <a  ng-click="toggleMenu()"><i class="icon-top-menu"></i></a>
      <ul id="menu-list" class="menu-list" ng-show="menushow">
        <li><a ui-sref="houseList({type:'sale'})" style="color: #0f0f0f;">卖房信息 </a></li>
        <li><a ui-sref="houseList({type:'tenement'})" style="color: #0f0f0f;">出租信息 </a></li>
      </ul>
    </span>
  </div>

  <!-- Slider main container -->
  <div class="swiper-container" id="mySwiper" name="mySwiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide" style="background-position: center top;background-image: url('assets/images/estate-img/pic01_20.png');background-size: 100% 100%"></div>
      <div class="swiper-slide" style="background-position: center top;background-image: url('assets/images/estate-img/pic01_22.png');background-size: 100% 100%"></div>
      <div class="swiper-slide" style="background-position: center top;background-image: url('assets/images/estate-img/pic01_24.png');background-size: 100% 100%"></div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>
    <!-- If we need navigation buttons -->
    <!--<div class="swiper-button-prev"></div>-->
    <!--<div class="swiper-button-next"></div>-->
    <!-- If we need scrollbar -->
    <!--<div class="swiper-scrollbar"></div>-->
  </div>



  <div style="margin: 1rem 1rem 0 1rem">
  <section class="block-list block-list-in">
    <header><strong>最新租房信息</strong></header>
    <ul>
      <li ng-repeat="t in tenement">
        <a ui-sref="houseDetail({id:'{{t.id}}'})">
          <div>
            <span>{{t.title}}</span>
            <span >{{t.time}}</span>
          </div>
        </a>
      </li>
      <li style="text-align: center"><a ui-sref="houseList({type:'tenement'})">查看更多...</a></li>
    </ul>
  </section>

    <section class="block-list block-list-in" style="margin-top: 2rem;margin-bottom: 48px">
      <header><strong>最新卖房信息</strong></header>
      <ul>
        <li ng-repeat="s in sale">
          <a ui-sref="houseDetail({id:'{{s.id}}'})">
            <div>
              <span>{{s.title}}</span>
              <span >{{s.time}}</span>
            </div>
          </a>
        </li>
        <li style="text-align: center"><a ui-sref="houseList({type:'sale'})">查看更多...</a></li>
      </ul>
    </section>
  </div>

  <div class="grid-block house-img-list">

      <div class="grid-block vertical">
        <a ui-sref="houseIn({type:'buy'})">
        <img src="assets/images/estate-img/house.png">
        <span>我要买房</span>
        </a>
      </div>

      <div class="grid-block vertical">
        <a ui-sref="houseIn({type:'tenement'})">
        <img src="assets/images/estate-img/house.png">
        <span>我要租房</span>
        </a>
      </div>
      <div class="grid-block vertical">
        <a ui-sref="houseOut({type:'sale'})">
        <img src="assets/images/estate-img/house.png">
        <span>我要卖房</span>
        </a>
      </div>
      <div class="grid-block vertical">
        <a ui-sref="houseOut({type:'tenement'})">
        <img src="assets/images/estate-img/house.png">
        <span>我要出租</span>
        </a>
      </div>
  </div>

</div>
