---
name: houseOut
url: /houseOut/:type
controller: outController
dependencies: controllers/outController,services/commonService,services/informationService,services/userService,services/informationService
---
<div class="ui-container" id="rootDiv" ng-class="{true:'hiddenOverflow',false:''}[chooseImg!=null&&chooseImg!='']" ng-init="outInit()">
  <div class="primary title-bar">
    <div class="center title">{{title}}</div>
    <span class="left"><a ui-sref="house" ><img zf-iconic="" icon="home" size="small"></a></span>
    <span class="right">
      <a  ng-click="toggleMenu()"><i class="icon-top-menu"></i></a>
      <ul id="menu-list" class="menu-list" ng-show="menushow">
       <li><a ui-sref="houseList({type:'sale'})" style="color: #0f0f0f;">卖房信息 </a></li>
        <li><a ui-sref="houseList({type:'tenement'})" style="color: #0f0f0f;">出租信息 </a></li>
      </ul>
    </span>
  </div>
  <form style="margin: 1rem 1rem 0 1rem" id="saleForm" name="saleForm">

    <label>
      最多上传三张图片</label>

    <input id="p1"  type="file" capture="camera" accept="image/*" style="display: none" input-on-change="uploadImg" required>
    <label for="p1" style="width: 4.4rem" ng-click="labelClick()">
      <div class="za_picture" >
        <i  class="zd_icon zd_iconfont">&nbsp;上传图片</i>
      </div>
    </label>


    <div class="grid-block align-right overImg">
      <div ng-show="imgSrc.i1!=''" >
        <img src="{{imgSrc.i1}}"  style="margin-left: 3.2rem;" ng-click="showMax(1)" >
        <img  src="assets/images/estate-img/cancel.png" ng-click="delImg(1)">
      </div>
      <div ng-show="imgSrc.i2!=''" >
        <img src="{{imgSrc.i2}}" ng-click="showMax(2)" >
        <img src="assets/images/estate-img/cancel.png" ng-click="delImg(2)">
      </div>
      <div ng-show="imgSrc.i3!=''" >
        <img src="{{imgSrc.i3}}"  ng-click="showMax(3)">
        <img  src="assets/images/estate-img/cancel.png" ng-click="delImg(3)">
      </div>
      <canvas id="uploadImg1" style="display: none" ></canvas>
      <canvas id="uploadImg2" style="display: none"></canvas>
      <canvas id="uploadImg3" style="display: none"></canvas>
    </div>



    <label>
      选择位置</label>
    <select ng-model="outInfo.village" ng-options="x.areaName for x in villages" required>
    </select>

    <label>
      选择户型</label>
    <select ng-model="outInfo.houseType" required>
      <option value="0">单间</option>
      <option value="1">一室一厅</option>
      <option value="2">二室一厅</option>
      <option value="3">三室一厅</option>
      <option value="4">四室一厅</option>
      <option value="5">五室一厅</option>
      <option value="6">其它</option>
    </select>

    <label>
      选择装修</label>
    <select ng-model="outInfo.fixture" required>
      <option value="0">毛坯</option>
      <option value="1">简装</option>
      <option value="2">精装</option>
    </select>

    <label>
      选择产权</label>
    <select ng-model="outInfo.houseProperty" required>
      <option value="0">70年</option>
      <option value="1">40年</option>
    </select>

    <label>
      具体地址
      <input ng-model="outInfo.address" type="text" placeholder="请输入您房屋的具体地址" required>
    </label>

    <label>
      面积
      <input ng-model="outInfo.houseArea" type="text" placeholder="请输入您房屋的面积" required>
    </label>

    <label>
      价格
      <input ng-model="outInfo.housePrice" type="text" placeholder="请输入您的理想价位" required>
    </label>

    <label>
      姓名
      <input ng-model="outInfo.name"  type="text" placeholder="请输入您的姓名" required>
    </label>

    <label>
      手机
      <input ng-model="outInfo.phone"  type="text" placeholder="请输入您的手机号码" maxlength="11" required>
    </label>
    <label>
      备注
      <textarea ng-model="outInfo.remarks" placeholder="您可以备注您的特殊要求，比如楼层、绿化等" rows="5" required></textarea>
    </label>

    <p class="alert-font"><span style="color: red">*</span>提交后，我们的工作人员将尽快给您推荐优质客源</p>
    <a class="expand button" href="javascript:void(0)" ng-class="{true:'disabled',false:''}[saleForm.$invalid]" ng-click="outSubmit()">提交</a>
  </form>

  <div class="showMax" ng-show="chooseImg!=null&&chooseImg!=''" ng-click="closeMax()">
    <span >
    <img style="width: 100%;" src="{{chooseImg}}">
      </span>
  </div>
</div>
