---
name: houseOut
url: /houseOut/:type
controller: outController
dependencies: controllers/outController,services/commonService
---
<div class="ui-container">
  <div class="primary title-bar">
    <div class="center title">{{title}}</div>
    <span class="left"><a ui-sref="house" class="icon-top-home"></a></span>
    <span class="right">
      <a  ng-click="toggleMenu()"><i class="icon-top-menu"></i></a>
      <ul id="menu-list" class="menu-list" ng-show="menushow">
       <li><a ui-sref="houseList({type:'sale'})" style="color: #0f0f0f;">卖房信息 </a></li>
        <li><a ui-sref="houseList({type:'tenement'})" style="color: #0f0f0f;">出租信息 </a></li>
      </ul>
    </span>
  </div>
  <form style="margin: 1rem 1rem 0 1rem" id="saleForm" name="saleForm">

    <input id="p1"  type="file" capture="camera" accept="image/*" style="display: none" input-on-change="uploadImg" required>
    <label for="p1">
      <div class="za_picture" >
        <i  class="zd_icon zd_iconfont">&#xe60e;</i>
      </div>
      <i>1上传照片</i>
    </label>


    <label>
      选择位置</label>
    <select  required>
      <option value="">碧云山庄</option>
      <option value="">常福名苑</option>
      <option value="">海上一品</option>
      <option value="">汇金广场</option>
    </select>

    <label>
      选择户型</label>
    <select  required>
      <option value="">单间</option>
      <option value="">一室一厅</option>
      <option value="">二室一厅</option>
      <option value="">三室一厅</option>
      <option value="">四室一厅</option>
      <option value="">五室一厅</option>
      <option value="">其它</option>
    </select>

    <label>
      选择装修</label>
    <select  required>
      <option value="0">毛坯</option>
      <option value="1">简装</option>
      <option value="2">精装</option>
    </select>

    <label>
      选择产权</label>
    <select  required>
      <option value="0">70年</option>
      <option value="1">40年</option>
    </select>

    <label>
      具体地址
      <input type="text" placeholder="请输入您房屋的具体地址" required>
    </label>

    <label>
      面积
      <input type="text" placeholder="请输入您房屋的面积" required>
    </label>

    <label>
      价格
      <input type="text" placeholder="请输入您的理想价位" required>
    </label>

    <label>
      姓名
      <input type="text" placeholder="请输入您的姓名" required>
    </label>

    <label>
      手机
      <input type="text" placeholder="请输入您的手机号码" maxlength="11" required>
    </label>
    <label>
      备注
      <textarea placeholder="您可以备注您的特殊要求，比如楼层、绿化等" rows="5" required></textarea>
    </label>

    <p class="alert-font"><span style="color: red">*</span>提交后，我们的工作人员将尽快给您推荐优质客源</p>
    <a class="expand button" href="javascript:void(0)" ng-class="{true:'disabled',false:''}[saleForm.$invalid]">提交</a>
  </form>

</div>
