---
name: houseDetail
url: /houseDetail/:id
controller: houseDetailController
dependencies: controllers/houseDetailController,services/commonService,services/informationService
---
<div class="ui-container" ng-init="detailInit()">
  <div class="primary title-bar">
    <div class="center title">详情</div>
    <span class="left"><a style="display: block;" href="javascript:window.history.back()"><img zf-iconic="" icon="chevron" data-direction="left" size="small"></a></span>
    <span class="right">
      <a  ng-click="toggleMenu()"><i class="icon-top-menu"></i></a>
      <ul id="menu-list" class="menu-list" ng-show="menushow">
         <li><a ui-sref="houseList({type:'sale'})" style="color: #0f0f0f;">卖房信息 </a></li>
        <li><a ui-sref="houseList({type:'tenement'})" style="color: #0f0f0f;">出租信息 </a></li>
      </ul>
    </span>
  </div>

  <div class="grid-block vertical " style="margin: 1rem 1rem 0 1rem">
    <div class="grid-block align-center creditCard-div">
      <div class="grid-block small-2 ">
        <p>位置</p>
      </div>
      <div class="grid-block  small-10">
        <input type="text" required value="{{::detail.address}}" readonly/>
      </div>
    </div>

    <div class="grid-block align-center creditCard-div">
      <div class="grid-block small-2">
        <p>户型</p>
      </div>
      <div class="grid-block small-10">
        <input type="text" required value="{{::detail.houseType}}" readonly/>
      </div>
    </div>

    <div class="grid-block align-center creditCard-div">
      <div class="grid-block small-2">
        <p>面积</p>
      </div>
      <div class="grid-block small-10">
        <input type="text" required value="{{::detail.houseArea}}㎡" readonly/>
      </div>
    </div>

    <div class="grid-block align-center creditCard-div">
      <div class="grid-block small-2">
        <p>价格</p>
      </div>
      <div class="grid-block small-10">
        <input type="text" required value="{{::detail.housePrice}}元" readonly/>
      </div>
    </div>

    <div class="grid-block align-center creditCard-div" style="height: 100px">
      <div class="grid-block small-2">
        <p style="padding-top: 4px;">备注</p>
      </div>
      <div class="grid-block small-10">
        <textarea style="border: none" rows="5" disabled>{{::detail.remarks}}</textarea>
      </div>
    </div>



    <div ng-if="detail.imgUrls!=null" class="grid-block align-center creditCard-div" ng-click="goGallery()">
      <div class="grid-block small-2">
        <p>图片</p>
      </div>
      <div class="grid-block small-10">
        <i class="right-arrow"></i>
      </div>
    </div>


    <a class="warning button expand"  ng-click="goReserve()" style="margin-top: 1rem">我要看房</a>
  </div>


</div>
