---
name: investment
url: /investment
controller: investmentController
dependencies: controllers/investmentController,services/commonService
---
<div class="ui-container">
  <div class="primary title-bar">
    <div class="center title">在线招商</div>
  </div>

  <div class="grid-block" ng-repeat="l in list" style="margin-top: 4px;border-bottom:1px solid #ccc;">
    <div class="grid-block shrink">
      <img src="{{l.img}}" style="width: 70%;height: 90%">
    </div>
    <div class="grid-block vertical" style="margin: 4px 0 0 2px">
      <strong>{{l.title}}</strong>
      <div class="list-top">{{l.desc}}</div>
      <div class="list-top">{{l.time}}</div>
      <div class="list-top">{{l.phone}}</div>
    </div>
  </div>

 </div>
