---
name: reserve
url: /reserve/:houseId
controller: reserveController
dependencies: controllers/reserveController,services/commonService,services/informationService
---
<div class="ui-container">
  <div class="primary title-bar">
    <div class="center title">我要看房</div>
    <span class="left"><a style="display: block;" href="javascript:window.history.back()"><img zf-iconic="" icon="chevron" data-direction="left" size="small"></a></span>
    <span class="right">
      <a  ng-click="toggleMenu()"><i class="icon-top-menu"></i></a>
      <ul id="menu-list" class="menu-list" ng-show="menushow">
        <li><a ui-sref="houseList({type:'sale'})" style="color: #0f0f0f;">卖房信息 </a></li>
        <li><a ui-sref="houseList({type:'tenement'})" style="color: #0f0f0f;">出租信息 </a></li>
      </ul>
    </span>
  </div>

  <form style="margin: 1rem 1rem 0 1rem" id="reserveForm" name="reserveForm">
    <label>
      姓名
      <input type="text" placeholder="请输入您的姓名" ng-model="reserve.name" required>
    </label>
    <label>
      手机
      <input type="text" placeholder="请输入您的手机号码" ng-model="reserve.phone" maxlength="11" required>
    </label>
    <p class="alert-font"><span style="color: red">*</span>提交后，工作人员将尽快联系您看房</p>

    <a class="expand button btn-bottom" href="javascript:void(0)" ng-class="{true:'disabled',false:''}[reserveForm.$invalid]" ng-click="watchSubmit()">提交</a>
  </form>

</div>
