---
name: login
url: /login
controller: loginController
dependencies: controllers/loginController,services/commonService
---
<div class="ui-container">
  <div class="primary title-bar">
    <div class="center title">用户登录</div>
    <span class="right"><a ui-sref="register({type:'register'})">注册</a></span>
  </div>
  <img src="assets/images/estate-img/city.png" style="height: 150px">
  <form style="margin: 1rem 1rem 0 1rem" id="loginForm" name="loginForm">
    <label>
      手机号
      <input type="text" placeholder="请输入您注册所用手机号码" ng-model="login.phone" maxlength="11" required>
    </label>
    <label>
      密码
      <input type="text" placeholder="请输入您的登录密码" ng-model="login.password" required>
    </label>
    <a class="expand button" href="javascript:void(0)" ng-class="{true:'disabled',false:''}[loginForm.$invalid]">登录</a>
    <a ui-sref="findPassword" style="float: right">忘记密码？</a>
  </form>

</div>
