---
name: register
url: /register/:type
controller: registerController
dependencies: controllers/registerController,services/commonService,services/userService
---
<div class="ui-container" ng-init="registerInit()">
  <div class="primary title-bar">
    <div class="center title">{{title}}</div>
    <span class="left"><a style="display: block;" href="javascript:window.history.back()"><img zf-iconic="" icon="chevron" data-direction="left" size="small"></a></span>
  </div>
  <form style="margin: 1rem 1rem 0 1rem" id="registerForm" name="registerForm">
    <label  ng-if="type=='modify'">小区</label>
    <select  ng-if="type=='modify'" name="" id="" ng-model="userInfo.village" ng-options="x.areaName for x in villages" required>
    </select>
    <label  ng-if="type=='modify'">
      楼栋
      <input type="text" placeholder="请输入楼栋" ng-model="userInfo.floor" required>
    </label>
    <label  ng-if="type=='modify'">
      单元
      <input type="text" placeholder="请输入单元" ng-model="userInfo.unit" required>
    </label>
    <label  ng-if="type=='modify'">
      门号
      <input type="text" placeholder="请输入门号" ng-model="userInfo.house" required>
    </label>
    <label ng-if="type=='register'">
      姓名
      <input type="text" placeholder="请输入姓名" ng-model="userInfo.name" required>
    </label>
    <label ng-if="type=='modify'">
      姓名
      <input type="text" placeholder="请输入姓名" ng-model="userInfo.name" disabled>
    </label>
    <label ng-if="type=='register'">
      身份证
      <input type="text" placeholder="请输入身份证号码" maxlength="18" ng-model="userInfo.idNo" required>
    </label>
    <label ng-if="type=='modify'">
      身份证
      <input type="text" placeholder="请输入身份证号码" maxlength="18" ng-model="userInfo.idNo" disabled>
    </label>
    <label>
      手机
      <input type="text" placeholder="请输入手机号码" maxlength="11" ng-model="userInfo.phone" required>
    </label>
    <label>
      昵称
      <input type="text" placeholder="请输入昵称" ng-model="userInfo.nickName" required>
    </label>
    <label ng-if="type=='register'">
      密码
      <input type="password" placeholder="请输入密码" maxlength="12" ng-model="userInfo.pwd" required>
    </label>
    <label  ng-if="type=='register'">
      确认密码
      <input type="password" placeholder="请再次输入密码" maxlength="12" ng-model="userInfo.pwdAgain" required>
    </label>
    <a ng-if="type=='register'" class="expand button btn-bottom" ng-class="{true:'disabled',false:''}[registerForm.$invalid]" ng-click="registerSubmit()">提交</a>
    <a ng-if="type=='modify'" class="expand button btn-bottom"  ng-click="registerSubmit()">提交</a>
  </form>

</div>
