---
name: userCenter
url: /userCenter
controller: userCenterController
dependencies: controllers/userCenterController,services/commonService,services/userService
---
<div class="ui-container" ng-init="userCenterInit()">
  <div class="primary title-bar">
    <div class="center title">个人中心</div>
    <span class="left"><a href="tel:52920873"><i class="phone"></i></a></span>
    <span class="right"><a href="javascript:void(0)" ng-click="logout()">退出</a></span>
  </div>
  <div style="position:absolute">
    <img src="assets/images/estate-img/center-banner.png" style="width: 100%;height: 150px">
    <div style="position: absolute; top: 24%; text-align: center">
      <img src="assets/images/estate-img/user.png" style="width: 40%">
      <p  >{{::nickName}}</p>
    </div>
  </div>

  <div class="grid-block img-list" style="margin-top: 180px;">
    <div class="grid-block vertical align-center">
      <a ui-sref="register({type:'modify'})">
      <img src="assets/images/estate-img/car90-on.png">
      <p >我的信息</p>
      </a>
    </div>
    <div class="grid-block vertical">
      <img src="assets/images/estate-img/card90-on.png">
      <p >我的洗衣</p>
    </div>
    <div class="grid-block vertical">
      <img src="assets/images/estate-img/house90-on.png">
      <p >我的维修</p>
    </div>
  </div>

  <div class="grid-block img-list">
    <div class="grid-block vertical">
      <img src="assets/images/estate-img/money90-on.png">
      <p>房屋中介</p>
    </div>
    <div class="grid-block vertical">
      <img src="assets/images/estate-img/woman90-on.png">
      <p>公告报修</p>
    </div>
    <div class="grid-block vertical">
      <img src="assets/images/estate-img/worker90-on.png">
      <p>我的家政</p>
    </div>
  </div>


</div>
